@use "../../styles/sass/reset.scss";
@use "../../styles/sass/variables.scss" as *;
@use "../../styles/sass/mixins.scss" as *;
@use "../../styles/sass/font.scss";

ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: $background-gray;
  padding-inline: 1rem;
}
