@use '../../styles/sass/variables.scss' as *;

.image-field-feed-container {
  padding: $space-md; /* 여백 추가 */
}

.image-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2개씩 그리드 레이아웃 */
  gap: $space-sm; /* 0.5rem */
  justify-items: center; /* 아이템들을 중앙 정렬 */
}

.image-item {
  position: relative;
  overflow: hidden;
  background-color: $background-light;
  border-radius: 0.5rem; /* 모서리 둥글게 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 섬세한 그림자 */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* 부드러운 전환 효과 */
}

.image-item:hover {
  transform: scale(1.05); /* 호버시 이미지가 커짐 */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* 호버시 그림자 효과 */
}

.image-wrap {
  position: relative;
  width: 100%;
  height: 200px; /* 고정된 높이 설정 */
}

.image-wrap img {
  width: 100%; /* 너비 100% */
  height: 100%; /* 고정된 높이로 이미지가 늘어남 */
  object-fit: cover; /* 이미지 비율을 유지하며 영역을 채우도록 */
}

.text-overlay {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  z-index: 1;
  text-shadow: 0.0625rem 0.0625rem 0.1875rem rgba(0, 0, 0, 0.7); /* 텍스트 그림자 */
}

.bookmark-btn {
  position: absolute;
  top: 10px; /* 상단에서 10px */
  right: 10px; /* 우측에서 10px */
  background: none;
  border: none;
  cursor: pointer;
  z-index: 2; /* 북마크 버튼이 이미지 위에 오도록 설정 */
  transition: transform 0.3s ease, fill 0.3s ease;

  &:hover {
    transform: scale(1.2); /* 북마크 버튼이 커지는 효과 */
  }
}

.bookmark-btn svg {
  width: 24px;
  height: 24px;
  fill: #aaa; /* 기본 색상 */
  transition: fill 0.3s ease;
}

.bookmark-btn svg:hover {
  fill: #FF7710; /* 호버 시 색상 변경 */
}

button{
  position:absolute;
  top:0;
  right:0;
  width:30px;
  height:30px;
  z-index: 999999999999999999999999999999999999;
  background-color: #ffffff00;
  border:none;
}

.bookmark-message {
  position: fixed;
  bottom: 1.25rem; /* 20px */
  left: 50%;
  bottom:7%;
  transform: translateX(-50%);
  color: white;
  padding: 0.625rem 1.25rem; /* 0.625rem 1.25rem (10px 20px) */
  border-radius: 0.3125rem; /* 0.3125rem (5px) */
  font-size: 1rem; /* 16px */
  z-index: 1000000000000;
  opacity: 0;
  animation: fadeInOut 1s forwards;

  &.success {
    background-color: #28a745; /* 초록색 */
  }

  &.error {
    background-color: #dc3545; /* 빨간색 */
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}