@use "../../styles/sass/variables.scss" as *;

* {
  background-color: $foundation-secondary-color;
  color: $text-light;
  font-family: "Paperlogy", sans-serif;
  font-weight: 700;
}

input::placeholder {
  color: $shadow-color;
}

button {
  // outline: none;
  display: block;
  margin: 0 auto;
  border: 1px solid $foundation-accent-color;
  padding: 1rem 3rem;
  transition: background-color 0.3s ease;
  position: relative;
  top: -2rem;
}

button:hover {
  background-color: $foundation-primary-color;

  svg {
    background-color: $foundation-primary-color;
  }
}

.visually-hidden {
  position: absolute;
  width: 0.0625rem;
  height: 0.0625rem;
  margin: -0.0625rem;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

input {
  display: block;
  width: 90%;
  height: 3.125rem;
  margin: 0 auto 1.5rem; // 하단에만 마진
  border: none;
  border-bottom: 1px solid $content-tertiary-color;
  outline: none;
  padding: 0 0 0.5rem 0; // 위와 아래 패딩 추가
}

.plus-review-wrap {
  height: 25rem;
  margin-bottom: 2rem; // 아래 여백 추가
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* 요소 간격을 고르게 분배 */
}

.plus-review-content1 input {
  font-size: 2.5rem;
  padding: 0 1rem; // 좌우 여백 추가
}

.plus-review-content1 input::placeholder {
  font-size: $space-lg;
}

.plus-review-content2 {
  margin-bottom: 6.125rem;
}

.plus-review-content2 input::placeholder {
  font-size: $space-sm;
}

.plus-review-content3 button {
  border-radius: 3rem;
  font-size: 1.3em;
  line-height: 2.1875rem;
  padding: 1rem 3rem; // 버튼에 여백 추가
}

.plus-review-content3 svg {
  width: 2rem;
  height: 2rem;
  position: relative;
  top: 0.4rem;
  left: -1rem;
}

.text-count {
  width: 90%;
  margin: 0 auto;
  padding: 0.5rem 0; // 위아래 여백 추가
}

.text-count p {
  float: right;
}

.cover-change:hover {
  background-color: $foundation-primary-color;

  svg {
    background-color: $foundation-primary-color;
  }
}

.error-message {
  color: red;
  font-size: 0.75rem;
  margin-top: 0.5rem; // 상단에 여백 추가
  margin-left: 1rem; // 왼쪽 여백 추가
}

.plus-review-content3 {
  position: relative;
  width: 100%;
  margin-bottom: 2rem; // 하단에 여백 추가
  display: flex;
  justify-content: center; /* 중앙 정렬 */
}

.selected-image {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 2rem; // 하단에 여백 추가
  display: flex;
  justify-content: center; /* 이미지 중앙 정렬 */
  align-items: center; /* 이미지 중앙 정렬 */
}

.selected-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 이미지가 부모 크기에 맞게 꽉 차도록 설정 */
}
