@use "../../styles/sass/variables.scss" as *;
@use "../../styles/sass/font.scss" as *;
@use "../../styles/sass/reset.scss";



.reserved-show-more-container {
  background-color: $background-light;
  width: 80%;
  height: 8.75rem;
  margin: 0.625rem auto;
  box-sizing: border-box;
  padding: 12px;
  border-radius: 0.625rem;
  border: 1px solid rgb(231, 231, 231);
  display: flex;
  font-family: "Paperlogy", sans-serif;
  font-size: $font-size-sm;
  
    .text-area {
      color: $content-secondary-color;
      width: 70%;
      margin-top: 0.9375rem;
      


      h4 {
        color: $text-dark;
        text-decoration: underline;
        margin-bottom: 0.75rem;
      }

      // 말줄임표
      p {
        display: -webkit-box; 
        -webkit-box-orient: vertical; 
        overflow: hidden; 
        text-overflow: ellipsis; 
        -webkit-line-clamp: 2; 
        line-height: 1.5; 
        max-height: calc(1.5em * 2); 
        margin-bottom: 0.625rem;
      }

      div {
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;

        span {
          background-color: #f9f9f9;
          border-radius: 0.3125rem;
          padding: 4px;
          display: inline-block;
        }
      }


    }

    .img-area {
      width: 30%;
      text-align: center;
      margin-top: 0.9375rem;

      img {
        width: 3.6875rem;
        height: 3.6875rem;
        border: 1px solid gray;
      }
    }
}