@use "../../styles/sass/variables.scss" as *;
@use "../../styles/sass/mixins.scss" as *;

body {
  width: 100%;
  height: 100%;
  background-color: $foundation-primary-color;
}

.sr-only {
  @include sr-only-styles();
}
