@use '../../styles/sass/mixins.scss' as *;
@use '../../styles/sass/variables.scss' as *;
@use "../../styles/sass/font.scss" as *;

body {
  margin: 0;
  padding: 0;
}

.horizon-image-container {
  @include flex-center(column, flex-start, flex-start);
  gap: $space-md; /* 1rem */
  background-color: $background-light;
  font-family: "Paperlogy", sans-serif;
  font-weight: 300;
}

.image-list {
  width: 100%;
  @include flex-center(column, flex-start, flex-start);
  gap: $space-md; /* 1rem */
}

.image-item {
  @include flex-center(row, flex-start, center); /* 수평 배치 및 중앙 정렬 */
  width: 100%; /* 100% */
  background-color: $background-light;
  border-radius: 0.5rem; /* 0.5rem (8px) */
  overflow: hidden;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1); /* 0.125rem (2px), 0.25rem (4px) */
  position: relative;
  max-width: 37.5rem; /* 600px (37.5rem) */
  margin: 0 auto; /* 화면 중앙 정렬 */
}

.image-wrap {
  width:140px;
  flex-shrink: 0;
  margin-right: $space-md; /* 1rem */
}

.image-wrap img {
  width:100%;
  object-fit: cover;
  border-radius: 0.5rem; /* 0.5rem */
}

.text-wrap {
  flex: 1; /* 텍스트 영역이 나머지 공간을 차지하도록 */
  padding: $space-sm; /* 0.625rem */
}

.title {
  font-size: $font-size-md; /* 1rem */
  font-weight: bold;
  color: $content-primary-color;
  margin-bottom: $space-xs; /* 0.5rem */
}

.description {
  font-size: $font-size-sm; /* 0.875rem */
  color: $content-secondary-color;
    -height: $line-height; /* 1.5rem */
}

/* 북마크 아이콘 오른쪽 상단에 배치 */
.bookmark-icon {
  position: absolute;
  top: $space-xs; /* 0.5rem */
  right: $space-xs; /* 0.5rem */
  width: 1.75rem; /* 28px */
  height: 1.75rem; /* 28px */
  transition: 0.3s all;
}

.bookmark-icon:hover {
  transform: scale(1.2);
}

.bookmark-message {
  position: fixed;
  bottom: 1.25rem; /* 20px */
  left: 50%;
  bottom:7%;
  transform: translateX(-50%);
  color: white;
  padding: 0.625rem 1.25rem; /* 0.625rem 1.25rem (10px 20px) */
  border-radius: 0.3125rem; /* 0.3125rem (5px) */
  font-size: 1rem; /* 16px */
  z-index: 1000000000000;
  opacity: 0;
  animation: fadeInOut 1s forwards;

  &.success {
    background-color: #28a745; /* 초록색 */
  }

  &.error {
    background-color: #dc3545; /* 빨간색 */
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


button{
  position:absolute;
  top:7px;
  right:5px;
  width:20px;
  height:20px;
}