@use "../../styles/sass/variables" as *;
@use "../../styles/sass/mixins.scss" as *;

.time-lte {
  width: 100%;
  box-sizing: border-box;
  background-color: $background-light;
  display: flex;
  justify-content: space-between;
  padding: $space-sm;
}
