@use "../../styles/sass/variables.scss" as *;
@use "../../styles/sass/mixins.scss" as *;

body {
  display: flex;
  flex-direction: column;
  min-width: 20rem;
}

.sr-only {
  @include sr-only-styles();
}
time-gps {
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav-items {
  position: sticky;
  bottom: 0;
}
