<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <title>resetvation</title>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="module" src="./index.js"></script>
    <link rel="stylesheet" href="./reservation-types.scss">
  </head>
  <body>

    <!-- <resetvation-types></resetvation-types> -->
    <button type="button" aria-label="예약 내역 전체 보기 버튼" class="reservation-types-button--selected">
      <img src="../../assets/reservation-types/app.svg" alt="설명 텍스트" class="button--icon" />
      <span class="button--name">전체</span>
    </button>

</button>


  </body>
</html>