//@use "../../styles/sass/base.scss" as *;
@use "../../styles/sass/variables.scss" as *;
@use "../../styles/sass/mixins.scss" as *;
@use "../../styles/sass/font.scss" as *;
@use "../../styles/sass/reset.scss";

body {
  font-family: "Paperlogy", sans-serif;
  font-weight: 300;
}

.profile__all {
  position: relative;
  background-color: $foundation-secondary-color;
  padding: 2.25rem 1.375rem 1.375rem;
  min-height: 6.5rem;

  .profile__all--wrap {
    display: flex;
    gap: 1.875rem;

    .profile__edit--button {
      position: relative;
      border-radius: 50%;
      border: 5px solid #fff;
      inline-size: 3.125rem;
      block-size: 3.125rem;
      background-color: $foundation-primary-color;
      text-decoration: none;
      @include flex-center();

      span:nth-child(1) {
        color: $background-light;
        font-size: $font-size-sm;
      }
      span:nth-child(2) {
        position: absolute;
        bottom: 0;
        right: -6px;
        border-radius: 50%;
        background: url("./../../assets/profile-all/profile-img-icon.svg")
          no-repeat;
        width: 20px;
        height: 20px;
      }
    }
    .profile__number {
      .profile__nickname {
        span {
          display: inline-block;
          color: $background-light;
          font-size: $font-size-base;
          line-height: 1.5;
        }
      }
      ul {
        display: flex;
        gap: 0.75rem;
        margin-top: 0.25rem;

        li {
          text-align: center;
          border-left: 1px solid #fff;
          padding-left: 0.75rem;

          span {
            display: block;
            color: #fff;
            font-size: 0.75rem;
            line-height: 1.6;
          }
        }
        & li:nth-child(1) {
          border-left: none;
          padding-left: 0;
        }
      }
    }
  }
}
.profile__coupon--btn {
  position: absolute;
  top: 0.71875rem;
  right: 1.375rem;
  border: 1px solid #fff;
  border-radius: 0.25rem;
  min-width: 1.875rem;
  height: 1.25rem;
  text-decoration: none;

  span:nth-child(1) {
    display: block;
    color: $background-light;
    font-size: $font-size-sm;
    line-height: 1.6;
    text-align: center;
  }

  span:nth-child(2) {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: $background-light;
    border-radius: 50%;
    width: 0.75rem;
    height: 0.75rem;
    font-size: $font-size-sm;
    color: $foundation-primary-color;
    text-align: center;
  }
}
.profile__btn--wrap {
  display: flex;
  gap: 0.3125rem;
  margin-top: 0.5rem;

  button {
    width: 50%;
    height: 1.875rem;
    background-color: $foundation-primary-color;
    font-size: 0.75rem;
    color: $background-light;
    border-radius: 0.5rem;
    border: none;

    svg {
      display: inline-block;
      vertical-align: middle;
    }

    // @include button-styles(
    //   $foundation-primary-color,
    //   $content-primary-color,
    //   0.625rem 0rem
    // );
  }
}
