@use "../../styles/sass/variables.scss" as *;
@use "../../styles/sass/mixins.scss" as *;
@use "../../styles/sass/font.scss";
@use "../../styles/sass/reset.scss";

.visit-record-wrap {
  position: relative;
  background-color: $background-light;
  border-radius: 0.5rem;
  padding: 0.75rem;

  h4 {
    display: inline-block;
    font-size: $font-size-base;
    font-weight: 600;
    color: $foundation-secondary-color;
  }

  .visit-date {
    display: inline-block;
    font-size: $font-size-sm;
    color: $content-tertiary-color;
  }
}

.visit-place-wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
  margin-top: 0.25rem;

  .visit-review-wrap {
    p:nth-child(1) {
      font-size: 0.75rem;
      color: $content-secondary-color;
      line-height: 1.6;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: normal;
      -webkit-line-clamp: 2;
    }

    p:nth-child(2) {
      display: flex;
      gap: 0.125rem;
      margin-top: 0.25rem;

      span {
        font-size: $font-size-sm;
        color: $content-secondary-color;
        line-height: 1.6;
        height: 1.4375rem;
        padding: 0 0.5rem;
        background-color: #f9f9f9;
      }
    }
  }

  figure {
    figcaption {
      span {
        @include sr-only-styles();
      }
    }
  }
}

.visit-default-text {
  font-size: $font-size-sm;
  color: $content-tertiary-color;
  line-height: 1.6;
  margin-top: 0.5rem;
}

.bookmark-more-wrap {
  display: flex;
  gap: 0.5rem;
  position: absolute;
  top: 0.625rem;
  right: 1.25rem;

  .bookmark-save-btn {
    display: inline-flex;

    .bookmark-input {
      margin: 0;
      appearance: none;
    }
    .bookmark-label {
      span {
        @include sr-only-styles();
      }
    }
    .bookmark-input:checked + .bookmark-label .check-fill {
      fill: var(--foundation-primary-color, #ff7710);
    }
  }

  .more-btn {
    background: none;
    border: none;
    padding: 0;

    span {
      @include sr-only-styles();
    }
  }
}

.review-btn {
  width: 100%;
  height: 1.875rem;
  font-size: $font-size-sm;
  color: $foundation-accent-color;
  background-color: $foundation-secondary-color;
  border-radius: 0.5rem;
  border: none;
}
