// font-weight 값을 배열로 정의
$font-weights: 100, 200, 300, 400, 500, 600, 700, 800, 900;

// 반복문을 사용하여 @font-face 작성
@each $weight in $font-weights {
  @font-face {
    font-family: 'Paperlogy-8ExtraBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold-#{$weight}.woff2') format('woff2');
    font-weight: $weight;
    font-style: normal;
  }
}


// @import 'font';  font.scss 파일을 불러옴.

// /* 이제 Paperlogy-8ExtraBold 폰트를 사용할 수 있음 */
// body {
//     font-family: 'Paperlogy-8ExtraBold', sans-serif;
// }